/ {
	chosen {
		zephyr,code-partition = &slot0_partition;
	};
};

/delete-node/ &storage_partition;

&subghzspi {
	lora: radio@0 {
        rfo-low-power;
	};
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 0xc000>;
		};
		slot0_partition: partition@c000 {
			label = "image-0";
			reg = <0x0000C000 0x16800>;
		};
		slot1_partition: partition@22800 {
			label = "image-1";
			reg = <0x00022800 0x16800>;
		};
		scratch_partition: partition@39000 {
			label = "image-scratch";
			reg = <0x00039000 0x5000>;
		};
		storage_partition: partition@3e000 {
			label = "storage";
			reg = <0x0003e000 0x00002000>;
		};
	};
};
